* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(../public/background.jpg);
  background-size: calc(cover + 10px);
  position: relative;
}
a {
  text-decoration: none;
}
*::-webkit-scrollbar {
  background-color: #ffe4ffe1;
}
*::-webkit-scrollbar-thumb {
  background-color: #80008070;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10vh;
  background-color: #80008070;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
}
h1 {
  font-size: calc(2vw);
  display: flex;
  align-items: center;
  column-gap: 0.5vw;
  color: #fff;
}
h1 > img {
  height: 2vw;
  filter: invert();
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5vw;
}
nav > a {
  color: #fff;
  font-size: calc(1.5vw);
  transition: all 0.3s;
}
nav > a:hover {
  text-shadow: 0 0 10px #fff;
}
.account-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5vw;
  height: 100%;
}
.account-btn {
  color: #fff;
  font-size: calc(1.5vw);
  height: 40%;
  background-color: #bc46bc94;
  border: none;
  border-radius: 10px;
  padding: 0 1vw;
  transition: all 0.3s;
  cursor: pointer;
}
.account-btn:hover {
  filter: brightness(130%);
  transform: scale(110%);
}
main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5vh;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
